@import "tailwindcss";

body {
  font-family: var(--font-vt323), Lato;
  background-color: black;
  color: white;
}


.font-lato {
  font-family: var(--font-lato);
}

@keyframes fillBox {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}